In [20]:
from pandas import DataFrame, read_csv
from random import randint

In [1]:
csv = DataFrame(columns = ['ID', 'Name', 'Age', 'E-Mail', 'Password', 'Sports', 'International Affairs', 'Cinematography', 'Literature', 'Cuisine', 'Music', 'Dance'])

csv

Empty DataFrame
Columns: [ID, Name, Age, E-Mail, Password, Sports, International Affairs, Cinematography, Literature, Cuisine, Music, Dance]
Index: []

In [27]:
ids, name, email, password, sports, intAffairs, cinema, lit, cuisine, music, dance, age = list(), list(), list(), list(), list(), list(), list(), list(), list(), list(), list(), list()

boys, girls = read_csv(r'boysData.csv'), read_csv(r'girlsData.csv')

j = k = 0

for i in range(1, 101):
    ids.append(i)

    if i % 2 == 1:
        name.append(boys['Name'].iloc[j])

        j += 1
    
    else:
        name.append(girls['Name'].iloc[k])

        k += 1
    
    age.append(randint(16, 40))
    email.append(name[i - 1] + '@gmail.com')
    password.append(name[i - 1] + '@' + str(123))
    sports.append(randint(0, 1))
    intAffairs.append(randint(0, 1))
    cinema.append(randint(0, 1))
    lit.append(randint(0, 1))
    cuisine.append(randint(0, 1))
    music.append(randint(0, 1))
    dance.append(randint(0, 1))

csv['ID'] = ids
csv['Name'] = name
csv['Age'] = age
csv['E-Mail'] = email
csv['Password'] = password
csv['Sports'] = sports
csv['International Affairs'] = intAffairs
csv['Cinematography'] = cinema
csv['Literature'] = lit
csv['Cuisine'] = cuisine
csv['Music'] = music
csv['Dance'] = dance

csv

     ID       Name  Age  ... Dance               E-mail  Cinema
0     1       John   18  ...     0       John@gmail.com       1
1     2       Mary   27  ...     1       Mary@gmail.com       1
2     3      James   16  ...     0      James@gmail.com       0
3     4      Annie   24  ...     1      Annie@gmail.com       1
4     5       Paul   25  ...     1       Paul@gmail.com       1
..  ...        ...  ...  ...   ...                  ...     ...
95   96        Ann   36  ...     0        Ann@gmail.com       1
96   97     Warren   35  ...     0     Warren@gmail.com       1
97   98  Josephine   36  ...     1  Josephine@gmail.com       1
98   99       Alex   16  ...     0       Alex@gmail.com       1
99  100    Kathryn   24  ...     0    Kathryn@gmail.com       0

[100 rows x 14 columns]

     ID       Name  Age               E-Mail  ... Cuisine  Music  Dance  Cinema
0     1       John   18       John@gmail.com  ...       1      0      0       1
1     2       Mary   27       Mary@gmail.com  ...       1      0      1       1
2     3      James   16      James@gmail.com  ...       0      1      0       0
3     4      Annie   24      Annie@gmail.com  ...       1      0      1       1
4     5       Paul   25       Paul@gmail.com  ...       1      1      1       1
..  ...        ...  ...                  ...  ...     ...    ...    ...     ...
95   96        Ann   36        Ann@gmail.com  ...       1      0      0       1
96   97     Warren   35     Warren@gmail.com  ...       0      0      0       1
97   98  Josephine   36  Josephine@gmail.com  ...       1      0      1       1
98   99       Alex   16       Alex@gmail.com  ...       0      0      0       1
99  100    Kathryn   24    Kathryn@gmail.com  ...       1      1      0       0

[100 rows x 13 columns]