In [1]:
from pandas import read_csv

In [2]:
csv = read_csv(r"database.csv")
csv

,Unnamed: 0,ID,Name,Age,E-Mail,Password,Sports,International Affairs,Cinematography,Literature,Cuisine,Music,Dance,Cinema,Known Language,New Language
0,0,1,John,18,John@gmail.com,John@123,1,0,0,1,1,0,0,1,Mandarin,Spanish
1,1,2,Mary,27,Mary@gmail.com,Mary@123,0,0,1,1,1,0,1,1,French,Mandarin
2,2,3,James,16,James@gmail.com,James@123,0,0,1,1,0,1,0,0,German,Mandarin
3,3,4,Annie,24,Annie@gmail.com,Annie@123,1,1,0,0,1,0,1,1,Hindi,Mandarin
4,4,5,Paul,25,Paul@gmail.com,Paul@123,0,0,1,0,1,1,1,1,German,French
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,96,Ann,36,Ann@gmail.com,Ann@123,1,0,1,0,1,0,0,1,Spanish,German
96,96,97,Warren,35,Warren@gmail.com,Warren@123,1,0,0,1,0,0,0,1,Mandarin,German
97,97,98,Josephine,36,Josephine@gmail.com,Josephine@123,1,1,1,1,1,0,1,1,Hindi,German
98,98,99,Alex,16,Alex@gmail.com,Alex@123,0,0,1,0,0,0,0,1,English,French
99,99,100,Kathryn,24,Kathryn@gmail.com,Kathryn@123,0,0,1,1,1,1,0,0,Hindi,Mandarin